{% extends "basemain.html" %}
{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
{% block page_content %}
    <div id="content" class="site-content">
     <main id="main" class="site-main" role="main"> 
      <article id="post-25" class="Article post-25 page type-page status-publish hentry"> 
       <div class="Article__content"> 
        <p style="text-align: center;">liuweiself@126.com</p> 
       </div> 
       <footer class="Article__footer"> 
        <div class="Article__meta pull-left"> 
        </div> 
        <div class="Article__meta pull-right"> 
        </div> 
       </footer> 
      </article> 
     </main> 
    </div> 
{% endblock %}


