
{% extends "basemain.html" %}
{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}



{% block page_content %}
<div id="content" class="site-content">
<main id="main" class="site-main posts-loop" role="main"> 


  <article id="{{ post.id }}" class="Article post-62 post type-post status-publish format-image has-post-thumbnail sticky hentry category-26 tag-28 post_format-post-format-image"> 
   <!-- 标题 --> 
   <h3 class="Article__title"> <a href="/detail/{{ post.id }}" rel="bookmark"> <span> {{ post.title }}</span> </a> </h3> 
   <!-- 日期 --> 
   <div class="Article__top-meta"> 
    <span><a><time> {{ post.timestamp }} </time></a></span> 
   </div> 
   <!-- 图片 --> 
   {% if post.cover %} 
   <div class="Extendfull featured-media">
      <div class="Extendfull__inner">
          <img width="900" height="700" src="{{post.cover}}"  class="attachment-full size-full wp-post-image" alt="封面" srcset="{{post.cover}}" sizes="100vw"/> 
      </div>
  </div>
   <!-- END .featured-media --> 
   {% endif %} 
   <!-- 正文 --> 
   <div id = "bodys" class="Article__excerpt">
     {{ post.body |safe }} 
   </div> 

   <!-- END .Article__excerpt --> 
   <footer class="Article__footer"> 
    <div class="Article__meta pull-left"> 
     <!-- 标签 --> 
     <span class="post-tags"><i class="icon-tags"></i><a href="/tagname/{{post.tag.name}}" rel="tag"> {{ post.tag.name }}</a></span> 
    </div> 
    <!-- END .pull-left --> 
    <div class="Article__meta pull-right"> 
     <!-- 点赞 --> 
<!--      <span><a href="/like/{{post.id}} "class="js-rating" data-post="62"><i class="icon-heart"></i><span class="js-count"> {{ post.like }}</span></a></span>  -->
     <!-- 评论 --> 
     <span><i class="icon-comments"></i><span><a href="/detail/{{ post.id }}#respond"> {{ post.commentsCount }}</a></span></span> 
    </div> 
    <!-- END .pull-right --> 
   </footer> 
   <!-- END .Article__footer --> 
  </article> 
  <!-- END .Article --> 



<html>
 <head></head>
 <body>
  <div id="comments" class="Comments-area"> 
<!-- 是否有评论 -->
   <header class="Comments-area__header"> 
    {% if post.commentsCount == 0 %}
    <h3 class="Comments-area__title">  暂无评论 </h3> 
    {% else %}
    <h3 class="Comments-area__title"> 共有 {{ post.commentsCount }} 条评论</h3> 
    {% endif %}
   </header> 
   <!-- END .Comments-area__header --> 

<!-- 评论列表 -->
   <ul class="Comments-list"> 
    <!-- commment --> 

{% for comment in post.comments %}
<li id="comment-10" class="comment even thread-even depth-1 Comment"> 
     <div class="Comment__media"> 
      <!-- 评论用户头像 -->
      <img alt="" src=" {{ comment.user.avtar }}" srcset="" class="avatar avatar-48 photo" height="48" width="48" /> 
     </div> 
     <div class="Comment__body"> 
      <div class="Comment__heading"> 
       <div class="Comment__meta"> 
        <!-- 用户名 -->
        <div class="Comment__username"> {{ comment.user.username }}</div>
        <!-- 评论时间  -->
        <div class="Comment__date"> {{ comment.timestamp }} </div> 
       </div> 
       <div class="Comment__actions"> 
<!--         <span class="Comment__reply"><a rel="nofollow" class="comment-reply-link" href="http://demo.20theme.com/hacker/archives/62?replytocom=10#respond" onclick="return addComment.moveForm( &quot;comment-10&quot;, &quot;10&quot;, &quot;respond&quot;, &quot;62&quot; )" aria-label="回复给liu">回复</a></span> 
 -->       </div> 
      </div> 
      <!-- 评论内容 -->
      <p>{{ comment.content }}</p> 
     </div>
</li> 
{% endfor %}
</ul> 

   <!-- 发表评论 -->
   <div id="respond" class="comment-respond"> 
<!--     <h3 id="reply-title" class="comment-reply-title">发表评论 <small><a rel="nofollow" id="cancel-comment-reply-link" href="/hacker/archives/62#respond" style="display:none;">取消回复</a></small></h3> 
 -->    
	<form action = "/detail/{{ post.id }}" method = "post" id = "form" class = "form" role = "form">
		{# 这个不能缺少 #}
		{{form.hidden_tag() }}
     <div class="comment-form__comment"> 
		{{ form.content (id = 'content' ,class = 'comment-form__comment',placeholder="输入你的评论.",rows="3") }}
     </div>
     <div class="comment-form__submit">
		{{ form.submit(class = 'btn btn-primary', id = 'submit',type = 'submit') }}
     </div> 
    </form> 
   </div>
  </div>
 </body>
</html>

{% endblock %}
