{% extends "basemain.html" %}
{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
{% block page_content %}
    <div id="content" class="site-content">
     <main id="main" class="site-main" role="main"> 
      <article id="post-23" class="Article post-23 page type-page status-publish hentry"> 
       <div class="Article__content"> 
        <div class="tags-list">
          {% for tag in tags %}
            <a href="/tagname/{{tag.name}}"> {{ tag.name }}</a>
          {% endfor %}
        </div> 
       </div> 
      </article> 
     </main> 
    </div> 
{% endblock %}






